<nav class="navbar navbar-expand-lg pb-0">
  <div class="container">
    <div class="row w-100">
      <div class="col-12">
        <div class="title-nav mb-4">
          <a class="navbar-brand" [routerLink]="['/personal']">Cyris</a>
          <a (click)="logout()" class="logout">
            Cerrar Sesión</a>
        </div>
      </div>
      <div class="col-12">
        <div class="nav-collapse" id="basicExampleNav">
    
          <!-- Links -->
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link"  [routerLink]="['/personal']" href="#">Personal
                <span class="sr-only">(current)</span>
              </a>
            </li>
          </ul>
          <!-- Links -->

        </div>
      </div>
    </div>



  </div>
</nav>


