<div class="container-full full-page">
  <div class="row m-0 h-100">
    <div class="col-12 col-md-4">
      <div class="container-form h-100">
        <div class="center-form">
          <form [formGroup]="userForm" (ngSubmit)="login()">
            <div class="title text-center mb-3">
              <mat-icon class="big-icon">account_circle</mat-icon>
              <p class="font-bold">Recursos Humanos</p>
            </div>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Correo electrónico" formControlName="email" [(ngModel)]="email">
              <mat-error *ngIf="formErrors.email" align="start" class="form__error">
                {{ formErrors.email }}
              </mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Contraseña" type="password" formControlName="password" [(ngModel)]="password">
              <mat-error *ngIf="formErrors.password" align="start" class="form__error">
                {{ formErrors.password }}
              </mat-error>
            </mat-form-field>
            <button class="mt-3" mat-raised-button color="primary" type="submit" [disabled]="!userForm.valid">Login</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-12 footer text-center py-2">
      <span>Copyright 2018</span>
    </div>
  </div>
</div>
