<div class="container">
  <a routerLink="/nuevo-personal" type="button" class="btn btn-blue-grey mt-5">Nuevo Personal</a>
  <div class="example-container mat-elevation-z8 mt-5">
    <div class="example-header">
      <!-- <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field> -->
    </div>

    <table mat-table #table [dataSource]="dataSource">

      <!-- Position Column -->
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let personal"> {{personal.nombre}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="paterno">
        <th mat-header-cell *matHeaderCellDef> Apellido Paterno </th>
        <td mat-cell *matCellDef="let personal"> {{personal.paterno}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="materno">
        <th mat-header-cell *matHeaderCellDef> Apellido Materno </th>
        <td mat-cell *matCellDef="let personal"> {{personal.materno}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="nroDNI">
        <th mat-header-cell *matHeaderCellDef> DNI </th>
        <td mat-cell *matCellDef="let personal"> {{personal.nroDNI}} </td>
      </ng-container>

      <ng-container matColumnDef="estadoCivil">
        <th mat-header-cell *matHeaderCellDef> Estado Civil </th>
        <td mat-cell *matCellDef="let personal"> {{personal.estadoCivil}} </td>
      </ng-container>

      <ng-container matColumnDef="fechaNacimiento">
        <th mat-header-cell *matHeaderCellDef> Fecha de Nacimiento </th>
        <td mat-cell *matCellDef="let personal"> {{personal.fechaNacimiento}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>

