<div class="container">
  <div class="bg-white">
    <form [formGroup]="personalForm" (ngSubmit)="editPersonal()">
      <h3 class="mt-4">Nuevo Personal</h3>
      <hr>
      <div class="row">
        <div class="col-12 col-md-4">

          <div class="form-group">
            <label for="id" class="col-form-label">Nro ID (solo para desarrollo)</label>
            <div class="">
              <input type="number" [className]="formErrors.idpersona ? 'form-control is-invalid' : 'form-control'" class="form-control" id="id"
                formControlName="idpersona" OnlyNumber="true">
              <p class="error-msg" *ngIf="formErrors.idpersona">
                <small class="text-danger">
                  {{ formErrors.idpersona }}
                </small>
              </p>
            </div>
          </div>

        </div>
      </div>

      <!-- <div class="row">

        <div class="col-12 col-md-4">
          <div class="form-group">
            <label for="nombre" class="col-form-label">Primer nombre
              <span>*</span>
            </label>
            <div class="">
              <input type="text" [className]="formErrors.nombre ? 'form-control is-invalid' : 'form-control'" class="form-control" id="nombre" formControlName="nombre">
              <small class="text-danger">
                {{ formErrors.nombre }}
              </small>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-4">
          <div class="form-group">
            <label for="nombre2" class="col-form-label">Segundo nombre</label>
            <div class="full-input">
              <input type="text" [className]="formErrors.nombre2 ? 'form-control is-invalid' : 'form-control'" class="form-control" id="nombre2"
                formControlName="nombre2">
              <small class="text-danger">
                {{ formErrors.nombre2 }}
              </small>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-4">
          <div class="form-group">
            <label for="paterno" class="col-form-label">Primer apellido
              <span>*</span>
            </label>
            <div class="full-input">
              <input type="text" [className]="formErrors.paterno ? 'form-control is-invalid' : 'form-control'" class="form-control" id="paterno"
                formControlName="paterno">
              <small class="text-danger">
                {{ formErrors.paterno }}
              </small>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-4">
          <div class="form-group">
            <label for="materno" class="col-form-label">Segundo apellido
              <span>*</span>
            </label>
            <div class="full-input">
              <input type="text" [className]="formErrors.materno ? 'form-control is-invalid' : 'form-control'" class="form-control" id="materno"
                formControlName="materno">
              <small class="text-danger">
                {{ formErrors.materno }}
              </small>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-4">
          <div class="form-group">
            <label for="nroDNI" class="col-form-label">Número de DNI
              <span>*</span>
            </label>
            <div class="full-input">
              <input type="text" [className]="formErrors.nroDNI ? 'form-control is-invalid' : 'form-control'" class="form-control" id="nroDNI"
                OnlyNumber="true" maxlength="8" formControlName="nroDNI">
              <small class="text-danger">
                {{ formErrors.nroDNI }}
              </small>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-4">
          <div class="form-group">
            <label for="vigenciaDNI" class="col-form-label">Vigencia del documento de identidad
              <span>*</span>
            </label>
            <div class="full-input">
              <input type="date" [className]="formErrors.vigenciaDNI ? 'form-control is-invalid' : 'form-control'" class="form-control"
                id="vigenciaDNI" OnlyNumber="true" formControlName="vigenciaDNI">
              <small class="text-danger">
                {{ formErrors.vigenciaDNI }}
              </small>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-4">
          <div class="form-group">
            <label for="nroRUC" class="col-form-label">Número de RUC
            </label>
            <div class="full-input">
              <input type="text" [className]="formErrors.nroRUC ? 'form-control is-invalid' : 'form-control'" class="form-control" id="nroRUC"
                maxlength="11" OnlyNumber="true" formControlName="nroRUC">
              <small class="text-danger">
                {{ formErrors.nroRUC }}
              </small>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-4">
          <div class="form-group">
            <label for="nroPasaporte" class="col-form-label">Número de Pasaporte
            </label>
            <div class="full-input">
              <input type="text" [className]="formErrors.nroPasaporte ? 'form-control is-invalid' : 'form-control'" class="form-control"
                id="nroPasaporte" maxlength="15" OnlyNumber="true" formControlName="nroPasaporte">
              <small class="text-danger">
                {{ formErrors.nroPasaporte }}
              </small>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-4">
          <div class="form-group">
            <label for="vigenciaPasaporte" class="col-form-label">Vigencia del Pasaporte
            </label>
            <div class="full-input">
              <input type="date" [className]="formErrors.vigenciaPasaporte ? 'form-control is-invalid' : 'form-control'" class="form-control"
                id="vigenciaPasaporte" OnlyNumber="true" formControlName="vigenciaPasaporte">
              <small class="text-danger">
                {{ formErrors.vigenciaPasaporte }}
              </small>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-4">
          <div class="form-group">
            <label for="estadoCivil" class="col-form-label">Estado civil
              <span>*</span>
            </label>
            <div class="full-input">
              <select type="text" [className]="formErrors.estadoCivil ? 'form-control is-invalid' : 'form-control'" class="form-control"
                id="estadoCivil" formControlName="estadoCivil">
                <option value="soltero">soltero</option>
                <option value="casado">casado</option>
                <option value="viudo">viudo</option>
                <option value="divorciado">divorciado</option>
                <option value="conviviente">conviviente</option>
                <option value="separado">separado</option>
              </select>
              <small class="text-danger">
                {{ formErrors.estadoCivil }}
              </small>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-4">
          <div class="form-group">
            <label for="sexo" class="col-form-label">Género
              <span>*</span>
            </label>
            <div class="full-input">
              <select type="text" [className]="formErrors.sexo ? 'form-control is-invalid' : 'form-control'" class="form-control" id="sexo"
                formControlName="sexo">
                <option value="femenino">femenino</option>
                <option value="masculino">masculino</option>
              </select>
              <small class="text-danger">
                {{ formErrors.sexo }}
              </small>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-4">
          <div class="form-group">
            <label for="fechaNacimiento" class="col-form-label">Fecha de Nacimiento
              <span>*</span>
            </label>
            <div class="full-input">
              <input type="date" [className]="formErrors.fechaNacimiento ? 'form-control is-invalid' : 'form-control'" class="form-control"
                id="fechaNacimiento" OnlyNumber="true" formControlName="fechaNacimiento">
              <small class="text-danger">
                {{ formErrors.fechaNacimiento }}
              </small>
            </div>
          </div>
        </div>

      </div>

      <hr>

      <div class="row">

        <div class="col-12 col-md-4">
          <div class="form-group">
            <label for="celular" class="col-form-label">Celular
            </label>
            <div class="full-input">
              <input type="text" [className]="formErrors.celular ? 'form-control is-invalid' : 'form-control'" class="form-control" id="celular"
                maxlength="9" OnlyNumber="true" formControlName="celular">
              <small class="text-danger">
                {{ formErrors.celular }}
              </small>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-4">
          <div class="form-group">
            <label for="celularTrab" class="col-form-label">Celular de Trabajo
            </label>
            <div class="full-input">
              <input type="text" [className]="formErrors.celularTrab ? 'form-control is-invalid' : 'form-control'" class="form-control"
                id="celularTrab" maxlength="9" OnlyNumber="true" formControlName="celularTrab">
              <small class="text-danger">
                {{ formErrors.celularTrab }}
              </small>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-4">
          <div class="form-group">
            <label for="fijo" class="col-form-label">Teléfono fijo
            </label>
            <div class="full-input">
              <input type="text" [className]="formErrors.fijo ? 'form-control is-invalid' : 'form-control'" class="form-control" id="fijo"
                maxlength="11" OnlyNumber="true" formControlName="fijo">
              <small class="text-danger">
                {{ formErrors.fijo }}
              </small>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-4">
          <div class="form-group">
            <label for="telefonoRef" class="col-form-label">Teléfono de Referencia
            </label>
            <div class="full-input">
              <input type="text" [className]="formErrors.telefonoRef ? 'form-control is-invalid' : 'form-control'" class="form-control"
                id="telefonoRef" maxlength="11" OnlyNumber="true" formControlName="fijo">
              <small class="text-danger">
                {{ formErrors.telefonoRef }}
              </small>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-4">
          <div class="form-group">
            <label for="fijoTrab" class="col-form-label">Teléfono Fijo del Trabajo
            </label>
            <div class="full-input">
              <input type="text" [className]="formErrors.fijoTrab ? 'form-control is-invalid' : 'form-control'" class="form-control" id="fijoTrab"
                maxlength="11" OnlyNumber="true" formControlName="fijoTrab">
              <small class="text-danger">
                {{ formErrors.fijoTrab }}
              </small>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-4">
          <div class="form-group">
            <label for="anexo" class="col-form-label">Anexo
            </label>
            <div class="full-input">
              <input type="text" [className]="formErrors.anexo ? 'form-control is-invalid' : 'form-control'" class="form-control" id="anexo"
                maxlength="6" OnlyNumber="true" formControlName="anexo">
              <small class="text-danger">
                {{ formErrors.anexo }}
              </small>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-4">
          <div class="form-group">
            <label for="email" class="col-form-label">Email
            </label>
            <div class="full-input">
              <input type="email" [className]="formErrors.email ? 'form-control is-invalid' : 'form-control'" class="form-control" id="email"
                placeholder="example@example" formControlName="email">
              <small class="text-danger">
                {{ formErrors.email }}
              </small>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-4">
          <div class="form-group">
            <label for="emailTrab" class="col-form-label">Email de Trabajo
            </label>
            <div class="full-input">
              <input type="email" [className]="formErrors.emailTrab ? 'form-control is-invalid' : 'form-control'" class="form-control"
                id="emailTrab" placeholder="example@example" formControlName="emailTrab">
              <small class="text-danger">
                {{ formErrors.emailTrab }}
              </small>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-4">
          <div class="form-group">
            <label for="web" class="col-form-label">Web
            </label>
            <div class="full-input">
              <input type="text" [className]="formErrors.web ? 'form-control is-invalid' : 'form-control'" class="form-control" maxlength="40"
                id="web" formControlName="web">
              <small class="text-danger">
                {{ formErrors.web }}
              </small>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-4">
          <div class="form-group">
            <label for="nroLicencia" class="col-form-label">Número de Licencia
            </label>
            <div class="full-input">
              <input type="text" [className]="formErrors.nroLicencia ? 'form-control is-invalid' : 'form-control'" class="form-control"
                OnlyNumber="true" id="nroLicencia" formControlName="nroLicencia">
              <small class="text-danger">
                {{ formErrors.nroLicencia }}
              </small>
            </div>
          </div>
        </div>


        <div class="col-12 col-md-4">
          <div class="form-group">
            <label for="vigenciaLicencia" class="col-form-label">Vigencia de Licencia
            </label>
            <div class="full-input">
              <input type="date" [className]="formErrors.vigenciaLicencia ? 'form-control is-invalid' : 'form-control'" class="form-control"
                id="vigenciaLicencia" OnlyNumber="true" formControlName="vigenciaLicencia">
              <small class="text-danger">
                {{ formErrors.vigenciaLicencia }}
              </small>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-4">
          <div class="form-group">
            <label for="catLicencia" class="col-form-label">Categoría de Licencia
            </label>
            <div class="full-input">
              <select type="text" [className]="formErrors.catLicencia ? 'form-control is-invalid' : 'form-control'" class="form-control"
                id="catLicencia" formControlName="catLicencia">
                <option value="A1">A1</option>
                <option value="A2">A2</option>
                <option value="A3">A3</option>
                <option value="B1">B1</option>
                <option value="B2">B2</option>
              </select>
              <small class="text-danger">
                {{ formErrors.catLicencia }}
              </small>
            </div>
          </div>
        </div>

      </div>

      <hr>

      <div class="row">

        <div class="col-12 col-md-4">
          <div class="form-group">
            <label for="codSalud" class="col-form-label">Autogenerado de Essalud
            </label>
            <div class="full-input">
              <input type="text" [className]="formErrors.codSalud ? 'form-control is-invalid' : 'form-control'" class="form-control" OnlyNumber="true"
                id="codSalud" formControlName="codSalud">
              <small class="text-danger">
                {{ formErrors.codSalud }}
              </small>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-4">
          <div class="form-group">
            <label for="fondoPension" class="col-form-label">Fondo de Pensiones
            </label>
            <div class="full-input">
              <select type="text" [className]="formErrors.fondoPension ? 'form-control is-invalid' : 'form-control'" class="form-control"
                id="fondoPension" formControlName="fondoPension">
                <option value="AFP">AFP</option>
                <option value="ONP">ONP</option>
              </select>
              <small class="text-danger">
                {{ formErrors.fondoPension }}
              </small>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-4">
          <div class="form-group">
            <label for="tipoAfp" class="col-form-label">Id de AFP
            </label>
            <div class="full-input">
              <select type="text" [className]="formErrors.tipoAfp ? 'form-control is-invalid' : 'form-control'" class="form-control" id="tipoAfp"
                formControlName="tipoAfp">
                <option value="AHB">AHB</option>
                <option value="AFP">AFP</option>
                <option value="AIN">AIN</option>
                <option value="APM">APM</option>
                <option value="SNP">SNP</option>
                <option value="ORP">ORP</option>
                <option value="JSP">JSP</option>
                <option value="CSS">CSS</option>
              </select>
              <small class="text-danger">
                {{ formErrors.tipoAfp }}
              </small>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-4">
          <div class="form-group">
            <label for="cuspp" class="col-form-label">Código único del sistema
            </label>
            <div class="full-input">
              <input type="text" [className]="formErrors.cuspp ? 'form-control is-invalid' : 'form-control'" class="form-control" OnlyNumber="true"
                id="cuspp" formControlName="cuspp">
              <small class="text-danger">
                {{ formErrors.cuspp }}
              </small>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-4">
          <div class="form-group">
            <label for="profesion" class="col-form-label">Profesión actual
            </label>
            <div class="full-input">
              <input type="text" [className]="formErrors.profesion ? 'form-control is-invalid' : 'form-control'" class="form-control" id="profesion"
                formControlName="profesion">
              <small class="text-danger">
                {{ formErrors.profesion }}
              </small>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-">
          <div class="form-group">
            <label for="peso" class="col-form-label">Peso
            </label>
            <div class="full-input">
              <input type="text" [className]="formErrors.peso ? 'form-control is-invalid' : 'form-control'" class="form-control" id="peso"
                formControlName="peso">
              <small class="text-danger">
                {{ formErrors.peso }}
              </small>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-4">
          <div class="form-group">
            <label for="talla" class="col-form-label">Talla
            </label>
            <div class="full-input">
              <input type="email" [className]="formErrors.talla ? 'form-control is-invalid' : 'form-control'" class="form-control" id="talla"
                formControlName="talla">
              <small class="text-danger">
                {{ formErrors.talla }}
              </small>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-4">
          <div class="form-group">
            <label for="contextura" class="col-form-label">Contextura
            </label>
            <div class="full-input">
              <select type="text" [className]="formErrors.contextura ? 'form-control is-invalid' : 'form-control'" class="form-control"
                id="contextura" formControlName="contextura">
                <option value="delgado">delgado</option>
                <option value="normal">normal</option>
                <option value="sobrepeso">sobrepeso</option>
              </select>
              <small class="text-danger">
                {{ formErrors.contextura }}
              </small>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-4">
          <div class="form-group">
            <label for="grupoSangre" class="col-form-label">Grupo Sanguíneo
            </label>
            <div class="full-input">
              <select type="text" [className]="formErrors.grupoSangre ? 'form-control is-invalid' : 'form-control'" class="form-control"
                id="grupoSangre" formControlName="grupoSangre">
                <option value="O+">O+</option>
                <option value="O-">O-</option>
                <option value="A+">A+</option>
                <option value="A-">A-</option>
                <option value="B+">B+</option>
                <option value="B-">B-</option>
                <option value="AB+">AB+</option>
                <option value="AB-">AB-</option>
              </select>
              <small class="text-danger">
                {{ formErrors.grupoSangre }}
              </small>
            </div>
          </div>
        </div>

        <div class="col-sm-4 form-group mb-4">
          <label>Foto del Empleado</label>
          <div class="file-input-plus file-input">
            <i class="la la-plus-circle"></i>
            <input type="file"  (change)="fileChangeEvent($event)" name="image">
          </div>
          <img id="preview" src="{{imagen}}">
          <div>
            <p class="info">* Solo arhivos .jpg o .png y max. de tamaño 5MB</p>
          </div>
        </div>

      </div> -->

      <div class="row">
        <div class="col-12 col-md-4">
          <div class="col-12">
            <div class="form-group">
              <input type="text" placeholder="Primer nombre *" [className]="formErrors.nombre ? 'form-control is-invalid' : 'form-control'"
                class="form-control" id="nombre" formControlName="nombre">
              <small class="text-danger">
                {{ formErrors.nombre }}
              </small>
            </div>
          </div>
      
          <div class="col-12">
            <div class="form-group">
              <input type="text" placeholder="Segundo nombre" [className]="formErrors.nombre2 ? 'form-control is-invalid' : 'form-control'"
                class="form-control" id="nombre2" formControlName="nombre2">
              <small class="text-danger">
                {{ formErrors.nombre2 }}
              </small>
            </div>
          </div>
      
          <div class="col-12">
            <div class="form-group">
              <input type="text" placeholder="Primer apellido *" [className]="formErrors.paterno ? 'form-control is-invalid' : 'form-control'"
                class="form-control" id="paterno" formControlName="paterno">
              <small class="text-danger">
                {{ formErrors.paterno }}
              </small>
            </div>
          </div>
      
          <div class="col-12">
            <div class="form-group">
              <input type="text" placeholder="Segundo apellido *" [className]="formErrors.materno ? 'form-control is-invalid' : 'form-control'"
                class="form-control" id="materno" formControlName="materno">
              <small class="text-danger">
                {{ formErrors.materno }}
              </small>
            </div>
          </div>
      
          <div class="col-12">
            <div class="form-group">
              <input type="text" placeholder="Número de DNI *" [className]="formErrors.nrodni ? 'form-control is-invalid' : 'form-control'"
                class="form-control" id="nrodni" OnlyNumber="true" maxlength="8" formControlName="nrodni">
              <small class="text-danger">
                {{ formErrors.nrodni }}
              </small>
            </div>
          </div>
      
          <div class="col-12">
            <div class="form-group">
              <input type="date" placeholder="Vigencia del documento de identidad *" [className]="formErrors.vigenciadni ? 'form-control is-invalid' : 'form-control'"
                class="form-control" id="vigenciaDNI" OnlyNumber="true" formControlName="vigenciadni">
              <small class="text-danger">
                {{ formErrors.vigenciadni }}
              </small>
            </div>
          </div>
      
          <div class="col-12">
            <div class="form-group">
              <input type="text" placeholder="Número de RUC" [className]="formErrors.nroruc ? 'form-control is-invalid' : 'form-control'"
                class="form-control" id="nroRUC" maxlength="11" OnlyNumber="true" formControlName="nroruc">
              <small class="text-danger">
                {{ formErrors.nroruc }}
              </small>
            </div>
          </div>
      
          <div class="col-12">
            <div class="form-group">
              <input type="text" placeholder="Número de Pasaporte" [className]="formErrors.nropasaporte ? 'form-control is-invalid' : 'form-control'"
                class="form-control" id="nroPasaporte" maxlength="15" OnlyNumber="true" formControlName="nropasaporte">
              <small class="text-danger">
                {{ formErrors.nropasaporte }}
              </small>
            </div>
          </div>
      
          <div class="col-12">
            <div class="form-group">
              <input placeholder="Vigencia de Pasaporte" type="date" [className]="formErrors.vigenciapasaporte ? 'form-control is-invalid' : 'form-control'"
                class="form-control" id="vigenciaPasaporte" OnlyNumber="true" formControlName="vigenciapasaporte">
              <small class="text-danger">
                {{ formErrors.vigenciapasaporte }}
              </small>
            </div>
          </div>
      
          <div class="col-12">
            <div class="form-group">
              <select [className]="formErrors.estadocivil ? 'form-control is-invalid' : 'form-control'" class="form-control" id="estadoCivil"
                formControlName="estadocivil">
                <option value="" selected>Estado Civil *</option>
                <option value="soltero">soltero</option>
                <option value="casado">casado</option>
                <option value="viudo">viudo</option>
                <option value="divorciado">divorciado</option>
                <option value="conviviente">conviviente</option>
                <option value="separado">separado</option>
              </select>
              <small class="text-danger">
                {{ formErrors.estadocivil }}
              </small>
            </div>
          </div>
      
          <div class="col-12">
            <div class="form-group">
              <select [className]="formErrors.sexo ? 'form-control is-invalid' : 'form-control'" class="form-control" id="sexo" formControlName="sexo">
                <option value="" selected>Sexo *</option>
                <option value="femenino">femenino</option>
                <option value="masculino">masculino</option>
              </select>
              <small class="text-danger">
                {{ formErrors.sexo }}
              </small>
            </div>
          </div>
      
          <div class="col-12">
            <div class="form-group">
              <input type="date" [className]="formErrors.fechanacimiento ? 'form-control is-invalid' : 'form-control'" class="form-control"
                id="fechaNacimiento" OnlyNumber="true" formControlName="fechanacimiento">
              <small class="text-danger">
                {{ formErrors.fechanacimiento }}
              </small>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="col-12">
            <div class="form-group">
              <input type="text" placeholder="Número de celular personal" [className]="formErrors.celular ? 'form-control is-invalid' : 'form-control'"
                class="form-control" id="celular" maxlength="9" OnlyNumber="true" formControlName="celular">
              <small class="text-danger">
                {{ formErrors.celular }}
              </small>
            </div>
          </div>
      
          <div class="col-12">
            <div class="form-group">
              <input type="text" placeholder="Número del celular del trabajo" [className]="formErrors.celulartrab ? 'form-control is-invalid' : 'form-control'"
                class="form-control" id="celularTrab" maxlength="9" OnlyNumber="true" formControlName="celulartrab">
              <small class="text-danger">
                {{ formErrors.celulartrab }}
              </small>
            </div>
          </div>
      
          <div class="col-12">
            <div class="form-group">
              <input type="text" placeholder="Teléfono fijo" [className]="formErrors.fijo ? 'form-control is-invalid' : 'form-control'"
                class="form-control" id="fijo" maxlength="11" OnlyNumber="true" formControlName="fijo">
              <small class="text-danger">
                {{ formErrors.fijo }}
              </small>
            </div>
          </div>
      
          <div class="col-12">
            <div class="form-group">
              <input type="text" placeholder="Teléfono de referencia en caso de emergencia" [className]="formErrors.telefonoref ? 'form-control is-invalid' : 'form-control'"
                class="form-control" id="telefonoRef" maxlength="11" OnlyNumber="true" formControlName="telefonoref">
              <small class="text-danger">
                {{ formErrors.telefonoref }}
              </small>
            </div>
          </div>
      
          <div class="col-12">
            <div class="form-group">
              <input type="text" placeholder="Teléfono Fijo del Trabajo" [className]="formErrors.fijotrab ? 'form-control is-invalid' : 'form-control'"
                class="form-control" id="fijoTrab" maxlength="11" OnlyNumber="true" formControlName="fijotrab">
              <small class="text-danger">
                {{ formErrors.fijotrab }}
              </small>
            </div>
          </div>
      
          <div class="col-12">
            <div class="form-group">
              <input type="text" placeholder="Número de anexo" [className]="formErrors.anexo ? 'form-control is-invalid' : 'form-control'"
                class="form-control" id="anexo" maxlength="6" OnlyNumber="true" formControlName="anexo">
              <small class="text-danger">
                {{ formErrors.anexo }}
              </small>
            </div>
          </div>
      
          <div class="col-12">
            <div class="form-group">
              <input type="email" placeholder="Email personal" [className]="formErrors.email ? 'form-control is-invalid' : 'form-control'"
                class="form-control" id="email" formControlName="email">
              <small class="text-danger">
                {{ formErrors.email }}
              </small>
            </div>
          </div>
      
          <div class="col-12">
            <div class="form-group">
              <input type="email" placeholder="Email del Trabajo" [className]="formErrors.emailtrab ? 'form-control is-invalid' : 'form-control'"
                class="form-control" id="emailTrab" formControlName="emailtrab">
              <small class="text-danger">
                {{ formErrors.emailtrab }}
              </small>
            </div>
          </div>
      
          <div class="col-12">
            <div class="form-group">
              <input type="text" placeholder="Página Web o Linkedin o Facebook" [className]="formErrors.web ? 'form-control is-invalid' : 'form-control'"
                class="form-control" maxlength="40" id="web" formControlName="web">
              <small class="text-danger">
                {{ formErrors.web }}
              </small>
            </div>
          </div>
      
          <div class="col-12">
            <div class="form-group">
              <input type="text" placeholder="Número de Licencia de conducir" [className]="formErrors.nrolicencia ? 'form-control is-invalid' : 'form-control'"
                class="form-control" OnlyNumber="true" id="nroLicencia" formControlName="nrolicencia">
              <small class="text-danger">
                {{ formErrors.nrolicencia }}
              </small>
            </div>
          </div>
      
      
          <div class="col-12">
            <div class="form-group">
              <input type="date" [className]="formErrors.vigencialicencia ? 'form-control is-invalid' : 'form-control'" class="form-control"
                id="vigenciaLicencia" OnlyNumber="true" formControlName="vigencialicencia">
              <small class="text-danger">
                {{ formErrors.vigencialicencia }}
              </small>
            </div>
          </div>
      
          <div class="col-12">
            <div class="form-group">
              <select type="text" [className]="formErrors.catlicencia ? 'form-control is-invalid' : 'form-control'" class="form-control"
                id="catLicencia" formControlName="catlicencia">
                <option value="" selected>Categoría de licencia de conducir</option>
                <option value="A1">A1</option>
                <option value="A2">A2</option>
                <option value="A3">A3</option>
                <option value="B1">B1</option>
                <option value="B2">B2</option>
              </select>
              <small class="text-danger">
                {{ formErrors.catlicencia }}
              </small>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="col-12">
            <div class="form-group">
              <input type="text" placeholder="Autogenerado de Essalud" [className]="formErrors.codsalud ? 'form-control is-invalid' : 'form-control'"
                class="form-control" OnlyNumber="true" id="codSalud" formControlName="codsalud">
              <small class="text-danger">
                {{ formErrors.codsalud }}
              </small>
            </div>
          </div>
      
          <div class="col-12">
            <div class="form-group">
              <select [className]="formErrors.fondopension ? 'form-control is-invalid' : 'form-control'" class="form-control" id="fondoPension"
                formControlName="fondopension">
                <option value="" selected>Fondo de Pensiones</option>
                <option value="AFP">AFP</option>
                <option value="ONP">ONP</option>
              </select>
              <small class="text-danger">
                {{ formErrors.fondopension }}
              </small>
            </div>
          </div>
      
          <div class="col-12">
            <div class="form-group">
              <select [className]="formErrors.tipoafp ? 'form-control is-invalid' : 'form-control'" class="form-control" id="tipoAfp" formControlName="tipoafp">
                <option value="" selected>Id de AFP</option>
                <option value="AHB">AHB</option>
                <option value="AFP">AFP</option>
                <option value="AIN">AIN</option>
                <option value="APM">APM</option>
                <option value="SNP">SNP</option>
                <option value="ORP">ORP</option>
                <option value="JSP">JSP</option>
                <option value="CSS">CSS</option>
              </select>
              <small class="text-danger">
                {{ formErrors.tipoafp }}
              </small>
            </div>
          </div>
      
          <div class="col-12">
            <div class="form-group">
              <input type="text" placeholder="Código único del sistema de pensiones" [className]="formErrors.cuspp ? 'form-control is-invalid' : 'form-control'"
                class="form-control" OnlyNumber="true" id="cuspp" formControlName="cuspp">
              <small class="text-danger">
                {{ formErrors.cuspp }}
              </small>
            </div>
          </div>
      
          <div class="col-12">
            <div class="form-group">
              <input type="text" placeholder="Profesión actual" [className]="formErrors.profesion ? 'form-control is-invalid' : 'form-control'"
                class="form-control" id="profesion" formControlName="profesion">
              <small class="text-danger">
                {{ formErrors.profesion }}
              </small>
            </div>
          </div>
      
          <div class="col-12">
            <div class="form-group">
              <input type="text" placeholder="Peso" [className]="formErrors.peso ? 'form-control is-invalid' : 'form-control'" class="form-control"
                id="peso" formControlName="peso">
              <small class="text-danger">
                {{ formErrors.peso }}
              </small>
            </div>
          </div>
      
          <div class="col-12">
            <div class="form-group">
              <input type="text" placeholder="Talla" [className]="formErrors.talla ? 'form-control is-invalid' : 'form-control'" class="form-control"
                id="talla" formControlName="talla">
              <small class="text-danger">
                {{ formErrors.talla }}
              </small>
            </div>
          </div>
      
          <div class="col-12">
            <div class="form-group">
              <select type="text" [className]="formErrors.contextura ? 'form-control is-invalid' : 'form-control'" class="form-control"
                id="contextura" formControlName="contextura">
                <option value="" selected>Contextura</option>
                <option value="delgado">delgado</option>
                <option value="normal">normal</option>
                <option value="sobrepeso">sobrepeso</option>
              </select>
              <small class="text-danger">
                {{ formErrors.contextura }}
              </small>
            </div>
          </div>
      
          <div class="col-12">
            <div class="form-group">
              <select type="text" [className]="formErrors.gruposangre ? 'form-control is-invalid' : 'form-control'" class="form-control"
                id="grupoSangre" formControlName="gruposangre">
                <option value="" selected>Grupo Sanguíneo</option>
                <option value="O+">O+</option>
                <option value="O-">O-</option>
                <option value="A+">A+</option>
                <option value="A-">A-</option>
                <option value="B+">B+</option>
                <option value="B-">B-</option>
                <option value="AB+">AB+</option>
                <option value="AB-">AB-</option>
              </select>
              <small class="text-danger">
                {{ formErrors.gruposangre }}
              </small>
            </div>
          </div>
      
      
          <div class="col-12">
            <div class="form-group">
              <label>Foto del Empleado</label>
              <input type="file" placeholder="Foto del empleado" (change)="fileChangeEvent($event)" name="image">
              <img id="preview" src="{{imagen}}">
              <!-- <small>* Solo arhivos .jpg o .png y max. de tamaño 5MB</small> -->
            </div>
          </div>
        </div>
      </div>

      <div class="text-right mt-4 mb-5">
        <button class="btn btn-secondary" routerLinkActive="active" routerLink="/personal">Cancelar</button>
        <button class="btn btn-primary btn-air ml-2" type="submit" >Guardar</button>
      </div>
    </form>

  </div>
</div>